.main_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 20%;
    margin: 100px auto;
    text-align: center;
}